[Desktop Entry]
Type=Application
Version=1.0
Name=Supersonic
GenericName=Music Player
Comment=A lightweight cross-platform desktop client for Subsonic music servers
Keywords=music;audio;player;subsonic;navidrome;streaming;
Path=/usr/bin
Exec=supersonic-desktop
Terminal=false
Icon=io.github.dweymouth.supersonic
StartupWMClass=Supersonic
Categories=Audio;AudioVideo;Music;Player;
